[tool.poetry]
name        = "matrix-loading"
version     = "1.0.0"
description = "Matrix dependency loader and data analyser"
authors     = ["Silva <dbotelho@student.42lisboa.com>"]

[tool.poetry.dependencies]
python     = "^3.10"
pandas     = "^2.2.3"
numpy      = "^2.2.4"
matplotlib = "^3.10.1"
requests   = "^2.32.3"

[build-system]
requires      = ["poetry-core"]
build-backend = "poetry.core.masonry.api"